<%- include('./partials/header') %> 

<div class="success-div" style="height: 100vh; display: flex; justify-content: center; align-items: center; background-color: #000; color: gold; text-align: center;">
    <h2>
        Sorry, something went wrong!
        <br><br><br><br>
        <span style="font-size: 1rem; font-weight: lighter;">Please try again</span>
    </h2>
</div>

<%- include('./partials/footer') %> 