<%- include('partials/header') %> 
<style>
     @media only screen and (min-width : 992px){
        .timg{
            padding-top: 2%;
        }
     }
</style>
<section id="team" class="">
    <!-- =============== container =============== -->
    <div class="container">            
        <div class="row">
            <div class="title">
            <h2>OUR TEAM</h2>
            <h4>Meet some of our lovely, passionate, positive people.</h4>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInDown animated" data-wow-delay=".1s">
               <div class="timg"><img src="/img/team-img1.jpg" style="height: 400px;"/></div>
                <div class="t-box">
               <h3>AJIBADE SABEEH</h3>
               <span>CEO/Lead Software Developer</span>
               <ul class="social-links">
                <li><a data-wow-delay=".5s" class="wow fadeInUp animated" href="mailto:detunjinov@gmail.com" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><i class="fa fa-envelope"></i></a></li>
                </ul>
               </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay=".2s">
                <div class="timg"><img src="/img/team-img2.jpg" style="height: 400px;"/></div>
               <div class="t-box">
               <h3>IGBONNA ISAAC</h3>
               <span>Senior Mobile App Developer</span>
               <ul class="social-links">
                <li><a data-wow-delay=".5s" class="wow fadeInUp animated" href="mailto:igbonnisaac90@gmail.com" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><i class="fa fa-envelope"></i></a></li>
                </ul>
               </div>				   
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInDown animated" data-wow-delay=".3s">
                <div class="timg"><img src="/img/team-img3.jpg" style="height: 400px;"/></div>
               <div class="t-box">
               <h3>MARTINS UTOM</h3>
               <span>Digital Marketer</span>
               <ul class="social-links">
                <li><a data-wow-delay=".5s" class="wow fadeInUp animated" href="mailto:utombonganiekang@gmail.com" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><i class="fa fa-envelope"></i></a></li>
                </ul>
               </div>
              </div> 
              <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay=".4s">
                <div class="timg"><img src="/img/team-img4.jpg" style="height: 400px;"/></div>
                <div class="t-box">
               <h3>OWOLABI TAIWO</h3>
               <span>Fullstack Web Developer</span>
               <ul class="social-links">
                <li><a data-wow-delay=".5s" class="wow fadeInUp animated" href="mailto:taiwolabs33@gmail.com" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><i class="fa fa-envelope"></i></a></li>
                </ul>
               </div>
              </div>                 
        </div>
    </div>   
    <!-- =============== container end =============== -->		
</section>	
<%- include('partials/footer') %> 