<%- include('partials/header') %> 
<section id="team" class="">
    <!-- =============== container =============== -->
    <div class="container">            
        <div class="row">
            <div class="title">
            <h2>OUR TEAM</h2>
            <h4>Meet some of our lovely, passionate, positive people.</h4>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInDown animated" data-wow-delay=".1s">
               <div class="timg"><img src="/img/team-img1.jpg" style="height: 400px;"/></div>
                <div class="t-box">
               <h3>AJIBADE SABEEH</h3>
               <span>CEO/Lead Developer</span>
               <ul class="social-links">
                    <li><a class="wow fadeInUp animated" href="index.html"><i class="fa fa-facebook"></i></a></li>
                    <li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-twitter"></i></a></li>
                    <li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
               </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay=".2s">
                <div class="timg"><img src="/img/team-img2.jpg" style="height: 400px;"/></div>
               <div class="t-box">
               <h3>EYITADE EBENEZER</h3>
               <span>Senior Mobile App Developer</span>
               <ul class="social-links">
                    <li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a></li>
                    <li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-twitter"></i></a></li>
                    <li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
               </div>				   
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInDown animated" data-wow-delay=".3s">
                <div class="timg"><img src="/img/team-img3.jpg" style="height: 400px;"/></div>
               <div class="t-box">
               <h3>ANIEKAN INYANG</h3>
               <span>Digital Marketer</span>
               <ul class="social-links">
                    <li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a></li>
                    <li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-twitter"></i></a></li>
                    <li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
               </div>
              </div> 
              <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay=".4s">
                <div class="timg"><img src="/img/team-img4.jpg" style="height: 400px;"/></div>
                <div class="t-box">
               <h3>GREATER IZU</h3>
               <span>Fullstack Web Developer</span>
               <ul class="social-links">
                    <li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a></li>
                    <li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-twitter"></i></a></li>
                    <li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
               </div>
              </div>                 
        </div>
    </div>   
    <!-- =============== container end =============== -->		
</section>	
<%- include('partials/footer') %> 